<script type="text/javascript" src="${basePath}_1/lib/zui/lib/jquery/jquery.js"></script>
<script type="text/javascript" src="${basePath}_1/lib/zui/js/zui.min.js"></script>
<script type="text/javascript" src="${basePath}_1/lib/zui/lib/datatable/zui.datatable.min.js"></script>
<script type="text/javascript" src="${basePath}_1/lib/zui/lib/chosen/chosen.min.js"></script>
<script type="text/javascript" src="${basePath}_1/lib/zui/lib/datetimepicker/datetimepicker.min.js"></script>
<script type="text/javascript" src="${basePath}_1/lib/zui/lib/treemap/zui.treemap.min.js"></script>
<script type="text/javascript" src="${basePath}_1/lib/zui/lib/uploader/zui.uploader.min.js"></script>
<script type="text/javascript" src="${basePath}_1/js/Overall.js"></script>
<script type="text/javascript" src="${basePath}_1/js/Outside.js"></script>