<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>文件导入</title>
<#include "_import/import_css.html">
<style>
    .container{
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-top: 40px;
    }
</style>
</head>
<body>
	<div class="container">
		<div id='myUploader' class="uploader" data-url="${basePath}proj/examinations/import.action?magicboy=yes">
			<div class="uploader-message text-center">
				<div class="content"></div>
				<button type="button" class="close">×</button>
			</div>
			<div class="uploader-files file-list file-list-lg" data-drag-placeholder="拖动文件到此处"></div>
			<div class="uploader-actions">
				<div class="uploader-status pull-right text-muted"></div>
				<button type="button" class="btn btn-link uploader-btn-browse"><i class="icon icon-plus"></i>选择文件</button>
				<button type="button" class="btn btn-link uploader-btn-start"><i class="icon icon-upload"></i>开始导入</button>
				<button type="button" class="btn btn-link" onclick="download_mb();"><i class="icon icon-download"></i>压缩文件模板下载</button>
				<button type="button" class="btn btn-link" onclick="download_ex();"><i class="icon icon-download"></i>Excel模板下载</button>
			</div>
		</div>
	</div>
</body>
<#include "_import/import_javascript.html">
<script type="text/javascript">
function download_mb(){			
			window.open('${basePath}proj/examinations/downloadzip.action','_blank');
		}
function download_ex(){			
	window.open('${basePath}proj/examinations/downloadexcel.action','_blank');
}
$(document).ready(function(){	
	var options = {
				url: '${basePath}proj/examinations/import.action?account=${account}',
				filters:{
					mime_types : [{title: '压缩文件', extensions: 'zip'},{title: 'Excel文件', extensions: 'xls,xlsx'}],
					max_file_size:'10mb',
					removeUploaded:true,
					chunk_size:0
				},
				chunk_size:0,
				limitFilesCount : 5,
				max_retries : 1,
				rename : true,
				onFileUploaded:function(file,msg){
					var resp = JSON.parse(msg.response);
					if(resp && resp.success){
						alertSuccess('导入成功!');
					}
					else{
						if(resp.emsg){
							upload.showMessage(resp.emsg,'danger',0);
							//alertError(resp.emsg);
						}
					}
				},
				onError : function(error){	
					var upload = $('#myUploader').data('zui.uploader');
					upload.showMessage(error.data.emsg,'danger',10000);
					alertError(error.data.emsg);
				}
			};
			$('#myUploader').uploader(options);
});
</script>
</html>