<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>文件上传</title>
<#include "_import/import_css.html">
</head>
<body>
<div id='myUploader' class="uploader" data-url="${basePath}function/import?magicboy=yes&fid=${fid}&opt=${opt}">
				  <div class="uploader-message text-center">
				    <div class="content"></div>
				    <button type="button" class="close">×</button>
				  </div>
				  <div class="uploader-files file-list file-list-lg" data-drag-placeholder="拖动文件到此处"></div>
				  <div class="uploader-actions">
				    <div class="uploader-status pull-right text-muted"></div>
				    <button type="button" class="btn btn-link uploader-btn-browse"><i class="icon icon-plus"></i>选择文件</button>
				    <button type="button" class="btn btn-link uploader-btn-start"><i class="icon icon-cloud-upload"></i>开始上传</button>
				    <button type="button" class="btn btn-link" onclick="download_mb();"><i class="icon icon-cloud-upload"></i>模板下载</button>
				  </div>
</body>
<#include "_import/import_javascript.html">
<script type="text/javascript">
function download_mb(){			
			window.open('${basePath}function/im?fid=${fid}','_blank');
		}
$(document).ready(function(){	
	var options = {
				url: '${basePath}function/import?magicboy=yes&fid=${fid}&opt=${opt}',
				filters:{
					max_file_size:'4mb'
				},
				chunk_size:0,
				limitFilesCount : 1,
				max_retries : 0,
				rename : false,
				onFileUploaded:function(file,msg){
					var obj = JSON.parse(msg.response);
					alertSuccess('导入成功!');
				},
				onError : function(error){					
					alertError(error.data.emsg);
				}
			};
			$('#myUploader').uploader(options);
});
</script>
</html>