<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>头像采集</title>
</head>
<body>
<fieldset><legend>摄像头取景</legend><div id="photoFrame" style="overflow:hidden;border:1px solid #2D6631;"><video id="webcam" style=""></video></div></fieldset><br/><fieldset><legend>拍照效果图</legend><canvas id="mycanvas"></canvas></fieldset>
</body>
<script type="text/javascript">
</script>
</html>